<div>
  <h1 class="font-bold text-4xl">
    <%= @static_page.title %>
  </h1>
  <p>Find me in app/views/static_pages/show.html.erb</p>
  <div>
    <%= @static_page.content.html_safe %>
  </div>
</div>